<div class="form-container">
  <h1>{{ id ? "Edit Vehicle form" : "Create Vehicle Form" }}</h1>
  <form [formGroup]="vehicleForm">
    <label for="vehicle">Vehicle:</label>
    <input type="text" id="vehicle" formControlName="Vehicle" />
    <br />
    <label for="manufacturer">Manufacturer:</label>
    <input type="text" id="manufacturer" formControlName="manufacturer" />
    <br />
    <label for="model">Model:</label>
    <input type="text" id="model" formControlName="model" />
    <br />
    <label for="type">Type:</label>
    <input type="text" id="type" formControlName="type" />
    <br />
    <label for="fuel">Fuel:</label>
    <input type="text" id="fuel" formControlName="fuel" />
    <br />
    <label for="color">Color:</label>
    <input type="text" id="color" formControlName="color" />
    <br />
    <label for="image">Image:</label>
    <input type="text" id="image" formControlName="image" />
    <br />
    <label for="cost">Cost:</label>
    <input type="text" id="cost" formControlName="cost" />
  </form>
  <button type="submit" (click)="submit()">
    {{ id ? "edit" : "Submit" }}
  </button>
</div>
