<!-- calculator.component.html -->

<div class="parent">
  <div class="child">
    <h1>****calculator ****</h1>
    <h1>changed</h1>
    <label for="">Num1:</label>
    <input type="number" [(ngModel)]="num1" placeholder="enter number1 here" />
    <br />

    <label for="">Num2:</label>
    <input type="number" [(ngModel)]="num2" placeholder="enter number2 here" />

    <h1>{{ result }}</h1>
  </div>
</div>

<div class="operations">
  <app-operations [Onum1]="num1" [Onum2]="num2" (bEvent)="Catch($event)" ></app-operations>
</div>

