<!-- calculator.component.html -->

<div class="parent">
    <div class="child">
        <h1>****calculator ****</h1>
        <h1>changed</h1>
        <label for="">Num1:</label>
        <input type="number" [(ngModel)]="num1" placeholder="enter number1 here">
        <br>

        <label for="">Num2:</label>
        <input type="number"[(ngModel)]="num2" placeholder="enter number2 here">

        <button [disabled]="!num1 || !num2" (click)="sum()">sum</button>
        <button>sub</button>
        <button>mul</button>
        <button>div</button>

        <h1>{{result}}</h1>
    </div>
</div>