body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.sibling-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 40%;
    height: 20%;
    margin-left: 35%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sibling-cart h1 {
    margin: 0;
   
}
