<div class="dashboard">
  <!-- <nav>
    <h2 routerLink="welcome" routerLinkActive="active">Welcome</h2>
    <h2 routerLink="home" routerLinkActive="active">Home</h2>
    <h2 routerLink="about" routerLinkActive="active">About</h2>
    <h2 routerLink="calculator" routerLinkActive="active">calculator</h2>
    <h2 routerLink="rectangle" routerLinkActive="active">Rectangle</h2>
    <h2 routerLink="circle" routerLinkActive="active">Circle</h2>
    <h2 routerLink="bmi" routerLinkActive="active">BMI</h2>

    <button routerLink="/login">logout</button>
    
  </nav> -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
