.parent {
    
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: Arial, sans-serif;
}


.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.left {
    width: 60%;
}

.left>div {
    display: flex;
    margin: 10px;
    gap: 15px;
}

.left input,
.left button,
.right input {
    padding: 7px 15px;
    border-radius: 5px;
    border: 0;
    text-transform: capitalize;
    /* letter-spacing: 1px; */
}

.l1>button {
    background-color: blue;
}

.l2>button {
    background-color: yellow;
    color: black;

}

.l3>button {
    background-color: rgb(9, 234, 234);
    color: white;
}

.l4>button {
    background-color: black;
    color: white;
}

.right {
    width: 40%;
    text-transform: capitalize;
}

.right>form>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    gap: 5px;
}

.r5>button {
    background-color: green;
}

.r5>button:hover {
    background-color: rgb(71, 239, 71);
}

button {
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
}

button:hover {
    background-color: rgb(162, 29, 29);
}

.right label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.right input[type="radio"] {
    margin-right: 5px;
}

.bottom {
    /* margin-top: 20px; */
    text-transform: capitalize;
}