<div>
  <h1>User registration</h1>
  <form [formGroup]="UserForm">
    <label for=""> Name:</label>
    <input type="text" formControlName="name" appCapital />
    <div *ngIf="UserForm.get('name')?.touched && UserForm.get('name')?.invalid">
      <p class="Error" *ngIf="UserForm.get('name')?.errors?.['required'] ">
        name is required
      </p>
      <p class="Error" *ngIf="UserForm.get('name')?.errors?.['minlength']">
        name should contains minimum 3 characters
      </p>
      <p class="Error" *ngIf="UserForm.get('name')?.errors?.['maxlength']">
        name should contains maximum 10 characters
      </p>
    </div>
    <label for="">age:</label>
    <input type="number" formControlName="age" />
    <div *ngIf="UserForm.get('age')?.touched && UserForm.get('age')?.invalid">
      <p class="Error" *ngIf="UserForm.get('age')?.errors?.['required'] ">
        age is required
      </p>
      <p class="Error" *ngIf="UserForm.get('age')?.errors?.['min']">
        age should minimum 0 years
      </p>
      <p class="Error" *ngIf="UserForm.get('age')?.errors?.['max']">
        age should maximun 100 years
      </p>
    </div>
    <label for="">Phone:</label>
    <input type="number" formControlName="phone" />
    <div
      *ngIf="UserForm.get('phone')?.touched && UserForm.get('phone')?.invalid"
    >
      <p class="Error" *ngIf="UserForm.get('phone')?.errors?.['required'] ">
        phone number is required
      </p>
      <p class="Error" *ngIf="UserForm.get('phone')?.errors?.['min']">
        phone should start minimun 10 length
      </p>
      <p class="Error" *ngIf="UserForm.get('phone')?.errors?.['max']">
        phone should maximun 10 length
      </p>
    </div>

    <label for="">Email:</label>
    <input type="text" formControlName="email" />
    <div
      *ngIf="UserForm.get('email')?.touched && UserForm.get('email')?.invalid"
    >
      <p class="Error" *ngIf="UserForm.get('email')?.errors?.['required'] ">
        email is required
      </p>
      <p
        class="Error"
        *ngIf="UserForm.get('email')?.errors?.['domainValidators']"
      >
        only capgemini mails accepted
      </p>
    </div>
    <br />
    <div formGroupName="address">
      <label for="">city:</label>
      <input type="text" formControlName="city" />
      <div
        *ngIf="
          UserForm.get('address')?.get('city')?.touched &&
          UserForm.get('address')?.get('city')?.invalid
        "
      >
        <p
          class="Error"
          *ngIf="
            UserForm.get('address')?.get('city')?.errors?.['required']"
        >
          city is required
        </p>
      </div>
      <label for="">pincode:</label>
      <input type="number" formControlName="pincode" />
      <div
        *ngIf="
          UserForm.get('address')?.get('pincode')?.touched &&
          UserForm.get('address')?.get('pincode')?.invalid
        "
      >
        <p
          class="Error"
          *ngIf="UserForm.get('address')?.get('pincode')?.errors?.['required']"
        >
          pincode is required
        </p>
      </div>
    </div>
    <div>
      <label for="">Type:</label><br>
      <input
        type="radio"
        name="type"
        formControlName="type"
        value="DayScholor"
      />
      <label for="">DayScolor</label>
      <input
        type="radio"
        name="type"
        formControlName="type"
        value="residentioal"
      />
      <label for="">Residentioal</label>
      <br />
      <div *ngIf="UserForm.get('type')?.value == 'DayScholor'">
        <label for="">Bus Fee</label>
        <input type="number" formControlName="busFee" />
        <div
          *ngIf="
            UserForm.get('busFee')?.touched && UserForm.get('busFee')?.invalid
          "
        >
          <p
            class="Error"
            *ngIf="UserForm.get('busFee')?.errors?.['required'] "
          >
            busfee is required
          </p>
          <p class="Error" *ngIf="UserForm.get('busFee')?.errors?.['min'] ">
            minimun 10k fee
          </p>
        </div>
      </div>
      <br />
      <div *ngIf="UserForm.get('type')?.value == 'residentioal'">
        <label for="">Hostel Fee</label>
        <input type="number" formControlName="hostelFee" />
        <div
          *ngIf="
            UserForm.get('hostelFee')?.touched &&
            UserForm.get('hostelFee')?.invalid
          "
        >
          <p
            class="Error"
            *ngIf="UserForm.get('hostelFee')?.errors?.['required'] "
          >
            hostelfee is required
          </p>
          <p class="Error" *ngIf="UserForm.get('hostelFee')?.errors?.['min'] ">
            minimun 12k fee
          </p>
        </div>
      </div>
    </div>

    <label for="">Cards:</label>
    <button class="add-btn" (click)="addCards()">addCards</button>
    <div formArrayName="cards">
      <div *ngFor="let card of cardsFormArray.controls; let i = index">
        <div formGroupName="{{ i }}">
          <h3>cards{{ i + 1 }}</h3>
          <label for=""> Number:</label>
          <input id="" type="number" formControlName="Number" /><br />
          <div
            *ngIf="
              cardsFormArray.controls[i].get('Number')?.touched &&
              cardsFormArray.controls[i].get('Number')?.invalid">
           <p class="Error" *ngIf="cardsFormArray.controls[i].get('Number')
            ?.errors?.['required']"
            >
              Crad number is required
            </p>
          </div>
          <label for="">Expiry:</label><br />
          <input id="" type="month" formControlName="expiry" /><br />
          <label for="">CVV:</label>
          <input id="" type="number" formControlName="cvv" />
          <div
            *ngIf="
              cardsFormArray.controls[i].get('cvv')?.touched &&
              cardsFormArray.controls[i].get('cvv')?.invalid
            "
          >
            <p
              class="Error"
              *ngIf="cardsFormArray.controls[i].get('cvv')?.errors?.['required']"
            >
              cvv required
            </p>
          </div>
          <br />
          <button (click)="deleteCard(i)">Delete</button>
        </div>
      </div>
    </div>
  </form>
  <!-- <button [disabled]="UserForm.invalid" (click)="submit()">submit</button> -->
  <button (click)="submit()">submit2</button>
</div>
