<div class="details-container">
  <h1>Student Details</h1>
  <h4>Student Name: {{ student.name }}</h4>
  <h4>Phone Number: {{ student.phone }}</h4>
  <h4>Student City: {{ student.city }}</h4>
  <h4>DOB: {{ student.dob }}</h4>
  <img
    src="{{ student.profile_picture }}"
    alt="Profile Picture"
    width="100px"
  />
  <h4>Student Email: {{ student.email }}</h4>
  <img src="{{ student.school_logo }}" alt="School Logo" width="100px" />
  <h4>School Name: {{ student.school_name }}</h4>
  <h4>School City: {{ student.school_city }}</h4>
  <h4>School Pin: {{ student.school_pin }}</h4>
</div>
